.jumbotron {
  text-align: center;
}

#formRow {
  text-align: center;;
}

.form-group {
  margin: 0 auto;
  width: 200px;
  margin-bottom: 10px;
}

#results {
  text-align: center;
}

li {
  list-style-type: none;
  margin-right: 50px;
}
